################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/github_3AHWII/FileContentIndex
*.suo
/.vs
